// $primary: #c42ba3;
// $secondary:#201b25;
// $tertiary:#583b6de7;

$primary:#E0B703;
$secondary:#1b191b;
$tertiary:#401820;
$custom-text-color:#D3CED3;



body {
    background-color:$secondary!important;
    color: $custom-text-color!important;

  }

  .bg-navbar{
    background-color: $tertiary;
 
  }

  .nav-link {
    color: $custom-text-color!important;
    font-weight: bold!important;
 
}

.nav-link:hover{
  color: $primary!important;

}

.dropdown-menu {
  background-color: $tertiary!important;
}
.dropdown-item {
  color: $custom-text-color !important; // Imposta il colore del testo su bianco
}


.dropdown-item:active {
    background-color: #AA76BE !important; // Imposta il colore di sfondo su bianco
    color: $primary !important; // Imposta il colore del testo su primary
}

.dropdown-item:hover {
  color: $primary !important; // Imposta il colore del testo su primary
  font-weight: 500;
}

.modal-content {
  background-color: $tertiary !important;
  color: $custom-text-color;
}

.cardbg{
  background-color: $tertiary!important;
  color: $custom-text-color!important;
}

.card-shadow-focus:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-text{
  color: $custom-text-color;
}

footer{
  background-color: $tertiary;
}


h1,h2,h3,h4,h5, h6{
  color: $primary!important;
}




.remove-scrollbar::-webkit-scrollbar {
  display: none; /* Nasconde la barra di scorrimento */
}

.custom-opacity {
  opacity: 0.5; 
}
.custom-opacity:hover {
  opacity: 1; 
  transition: 0.5s;
}

ul{
  list-style: none;
}

li{
  color: $custom-text-color;
}
span{
  color: $custom-text-color;
}
.bg-tertiary{
  background-color: $tertiary;
}

.accordion-button{
  background-color: $tertiary!important;
}
.accordion-body{
  background-color: $tertiary;
}
.accordion-button{
  color: $primary!important;
}

.active {
  color: $primary!important;
}


@import "../../node_modules/bootstrap/scss/bootstrap.scss"